<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>javawjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    	<servlet>
    	
    		<servlet-name>test2</servlet-name>
    		<servlet-class>j1111.Test2</servlet-class>
    	</servlet>
    	<servlet-mapping>
    		<servlet-name>test2</servlet-name>
    		<url-pattern>/t2</url-pattern>
    	</servlet-mapping>
    	
    	<!-- controller 호출 -->
    	<servlet>
    	<!-- 이름이 test12 -->
    		<servlet-name>test12</servlet-name>
    	<!-- class가 j1111.test12 경로에 있다 -->    		
    		<servlet-class>j1111.Test12</servlet-class>
    	</servlet>
    	<servlet-mapping>
    		<!-- test12로 별명 설정 -->
    		<servlet-name>test12</servlet-name>
    		<!-- url패턴 으로 부르기 -->
    		<url-pattern>/test12ok</url-pattern>
    	</servlet-mapping>
    	
    	
    	<!-- 특정 서블릿에 초기값을 "부여하기" -->
<!--     	<servlet>
    		별명 
    		<servlet-name>green</servlet-name>
    		class이름
    		<servlet-class>j1117.Green</servlet-class>
    		<init-param>
    		name : 변수 / value : 값
    			<param-name>mid</param-name>
    			<param-value>admin</param-value>
    		</init-param>
    		<init-param>
    			<param-name>pwd</param-name>
    			<param-value>1234</param-value>
    		</init-param>
    		<init-param>
    			<param-name>className</param-name>
    			<param-value>인사과</param-value>
    		</init-param>
    	</servlet>
    	<servlet-mapping>
    		<servlet-name>green</servlet-name>
    		<url-pattern>/Green</url-pattern>
    	</servlet-mapping> 
 -->  
  
    	<!-- 공통변수에 초기값 "부여하기" -->
    	<context-param>
    		<param-name>logoName</param-name>
    		<param-value>Simkung Company</param-value>
    	</context-param>
    	<context-param>
    		<param-name>homeAddress</param-name>
    		<param-value>http://192.168.50.218:9090/javawjsp/</param-value>
    	</context-param>
    	
    	<!-- 에러페이지 설정 -->
<!--     	<error-page>
    		<error-code>500</error-code>
    		<location>/study/1117/error/error500.jsp</location>
    	</error-page>
    	<error-page>
    		<error-code>404</error-code>
    		<location>/study/1117/error/error404.jsp</location>
    	</error-page>
    	<error-page>
    		<error-code>400</error-code>
    		<location>/study/1117/error/error400.jsp</location>
    	</error-page> -->
    	
    	<!-- filter 매핑처리 -->
<!--     	<filter>
    		<filter-name>EncodingFilter</filter-name>
    		<filter-class>filter.EncodingFilter</filter-class>
    	</filter>
    	<filter-mapping>
    		<filter-name>EncodingFilter</filter-name>
    		<url-pattern>/*</url-pattern>
    	</filter-mapping> -->
</web-app>